{% extends "base.html" %}

{% block title %}Cambridge University Air Squadron Alumni Association{% endblock %}

{% block body %}
<h1>Cambridge University Air Squadron Alumni Association</h1>
<p>The CUAS Alumni Association was launched following a successful lunchtime drinks reception in November. The Association has been founded under the initiative of Sqn Ldr Means (OC CUAS) and Wg Cdr Monahan (OC CUAS 2008). The aim of the Association is to allow old members of CUAS to retain links with each other and with an organisation that will have been a significant part of their lives at university. An Interim Committee has been established under the direction of Wg Cdr Monahan and it is anticipated that a committee will be formally voted in during July 2011.
</p>
{% endblock %}